<div class="h-full w-full bg-box text-white flex-grow items-start justify-items p-4">
  <div class="grid grid-rows-2 grid-cols-4 gap-4 w-full h-full">
    <app-item-stat-card></app-item-stat-card>
    <app-item-stat-card class="h-full flex-grow"></app-item-stat-card>
    <app-item-stat-card class="h-full"></app-item-stat-card>
    <app-item-stat-card class="h-full"></app-item-stat-card>
    <app-item-stat-card class="h-full"></app-item-stat-card>
    <app-item-stat-card class="h-full"></app-item-stat-card>
    <app-item-stat-card class="h-full"></app-item-stat-card>
    <app-item-stat-card class="h-full"></app-item-stat-card>
  </div>
</div>
