  .title-box {
    border: 1px solid #151D32;
    border-radius: 0.3125rem;
    padding: 0.9375rem;
    background-color: #151D32;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 1.25rem;
  }

  .title{
    font-size: 4vw;
    font-weight: bold;
    color: white;
    font-family: "Inter", sans-serif;
  }

  .drink-box {
    border: 1px solid #151D32;
    border-radius: 0.3125rem;
    padding: 0.9375rem;
    background-color: #151D32; /* Background color */
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1); /* Optional shadow */
    display: flex; /* Use flexbox layout */
    align-items: center; /* Center items vertically */
  }

  .price-container {
    display: flex; /* Use flexbox layout for price and change */
    flex-direction: column; /* Stack items vertically */
  }

  .drink-name {
    font-size: 4vw; /* Adjust this value as needed */
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: bold; /* Bold drink name */
    margin-right: auto; /* Pushes the drink name to the left */
  }

  .price {
    font-size: 4vw; /* Adjust this value as needed */
    text-align: right;
    color: white;
    font-family: "Inter", sans-serif;
    display: block; /* Display price on a new line */
  }

  /* Like */
  .check[type="checkbox"] {
    display: none;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 0.5rem;
    cursor: pointer;
    margin-top: -0.25em;
    margin-bottom: -0.25em;
  }

  .icon {
    width: 1em;
    height: 1em;
    margin-left: 0.5em;
    fill: white;
    transition: opacity 0.3s ease-in-out;
  }

  .icon.active {
    display: none;
    fill: #f52121;
  }

  .check[type="checkbox"]:checked + .container .icon.active {
    display: inline-block;
    animation: wiggle 0.5s ease-in-out;
  }

  .check[type="checkbox"]:checked + .container .icon.inactive {
    display: none;
  }

  .like-text {
    margin-left: 0.5em;
    padding: 0.5em;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bolder;
  }

  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(10deg);
    }
    75% {
      transform: rotate(-10deg);
    }
  }

