.button{
  grid-column: 25 / 50 ;
  grid-row: 2 ;
}

.cssbuttons-io-button {
  background: #151D32;
  color: white;
  font-family: "Inter", sans-serif;;
  padding: 1.25rem;
  font-size: 20px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #151D32;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #151D32;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.5s;
  color: #151D32;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

.title-box {
  border: 1px solid #151D32;
  border-radius: 0.3125rem;
  padding: 0.9375rem;
  background-color: #151D32;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 1.25rem;
}

.title{
  font-size: 1.5vw;
  font-weight: bold;
  color: white;
  font-family: "Inter", sans-serif;
}

.price-entry {
  margin-bottom: 0.9375rem;
}

.drink-box {
  border: 1px solid #151D32;
  border-radius: 0.3125rem;
  padding: 0.9375rem;
  background-color: #151D32;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.price-container {
  display: flex;
  flex-direction: column;
}

.drink-name {
  font-size: 1vw;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  margin-right: auto;
}

.price {
  font-size: 1vw;
  text-align: right;
  color: white;
  font-family: "Inter", sans-serif;
  display: block;
}

.positive {
  font-size: 0.75vw;
  text-align: right;
  font-family: "Inter", sans-serif;
  color: #60C3B8;
}

.negative {
  font-size: 0.75vw;
  text-align: right;
  font-family: "Inter", sans-serif;
  color: #CC4E6C;
}

.delete-me {
  margin-right: 0.75rem;
  display: flex;
}

.change_me {
  margin-right: 0.75rem;
  display: flex;
}
