<div class="title-box">
  <span class="title">Price Overview</span>
</div>



@for (product of products; track product.name) {
  <div class="drink-box mb-2">

    
    <span class="drink-name">{{ product.name }}</span>

    
    
    <!-- Display product image if available -->
    @if (product.imageurl) {
      <div class="w-6 h-6 overflow-hidden mr-2">
        <img [src]="product.imageurl" alt="{{ product.name }}" class="w-full h-full object-cover">
      </div>
    }

    <div class="price-container">
      <span class="price">{{ product.baseprice }} € </span>
      
      
    </div>

  </div>
} 




<div class="button mt-2">
  <button class="cssbuttons-io-button" (click)="onClick()">
    New Drink
    <div class="icon">
      <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path> <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
    </div>
  </button>
</div>

@if(showAddDrinkWindow) {
  <app-add-drink-item-window (ProductCreated)="RecieveProductFromInputWindow($event)" (close)="closeWindow()"></app-add-drink-item-window>
}
