<div class="flex items-center justify-center max-h-full bg-[#394598] p-4">
  <!-- Kasten -->
  <div class="bg-[#262837] border border-gray-500 rounded-lg shadow-lg p-6 w-96 relative"> <!-- Set relative positioning on the parent div -->
    <!-- Überschrift -->
    <h1 class="text-white text-3xl font-semibold text-center mb-5">
      Events
    </h1>

    <div class="flex items-center bg-[#191b29] px-4 py-2 rounded-md mb-4">
      <h3 class="text-white font-semibold text-left mr-2">
        Aktive events: <span class="ml-8">0</span>
      </h3>
      <span class="text-white text-xl ml-auto">ℹ️</span>
    </div>

    <!-- Button -->
    <div class="flex justify-center mb-4">
      <button
        class="bg-gradient-to-r from-red-600 via-purple-500 to-green-500 text-white px-4 py-2 rounded-md hover:from-red-700 hover:to-green-600 focus:outline-none focus:ring focus:ring-red-400"
        (click)="toggleCreateEventWindow()"
      >
        Event anlegen
      </button>
    </div>

    @if(isSetEventWindowOpen){
      <div class=" inset-x-0  bg-opacity-50 flex items-center justify-center z-50">
        <div class="bg-[#262837] border border-gray-500 rounded-lg shadow-lg p-6 w-96">
          <h2 class="text-white text-2xl font-semibold text-center mb-4">Event Details</h2>

          <form>
            <div class="mb-4">
              <label class="text-white block">Event Typ</label>
              <select class="w-full px-3 py-2 rounded-md bg-[#1a1c2c] text-white">
                <option value="boersencrash">Börsencrash</option>
                <option value="happy_hour">Happy Hour</option>
              </select>
            </div>

            <div class="mb-4">
              <label class="text-white block">Event von</label>
              <input type="datetime-local" class="w-full px-3 py-2 rounded-md bg-[#1a1c2c] text-white" />
            </div>

            <div class="mb-4">
              <label class="text-white block">Event bis</label>
              <input type="datetime-local" class="w-full px-3 py-2 rounded-md bg-[#1a1c2c] text-white" />
            </div>

            <div class="flex justify-between">
              <button type="button" class="bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-600 focus:outline-none" (click)="toggleCreateEventWindow()">
                Cancel
              </button>
              <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600 focus:outline-none">
                Create Event
              </button>
            </div>
          </form>
        </div>
      </div>
    }
  </div>
</div>
