<section>
  <app-toolbar/>
</section>

<div class="menu-grid">
  <div class="drink-h1-position">
    <section>
      <p>Drinks</p>
    </section>
  </div>

  <div class="drink_price-overiew-position">
    <section>
      <app-drink-price-overview-user/>
    </section>
  </div>

  <div class="meal-h1-position">
    <section>
      <p>Meals</p>
    </section>
  </div>

  <div class="meal_price-overiew-position">
    <section>
      <app-meal-price-overview-user/>
    </section>
  </div>
</div>

<router-outlet/>
