.title-box {
  border: 1px solid #151D32;
  border-radius: 0.3125rem;
  padding: 0.9375rem;
  background-color: #151D32;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 1.25rem;
}

.title {
  font-size: 1.5vw;
  font-weight: bold;
  color: white;
  font-family: "Inter", sans-serif;
}

.price-entry {
  margin-bottom: 0.9375rem;
}

.drink-box {
  border: 1px solid #151D32;
  border-radius: 0.3125rem;
  padding: 0.9375rem;
  background-color: #151D32;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.price-container {
  display: flex;
  flex-direction: column;
}

.drink-name {
  font-size: 1vw;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  margin-right: auto;
}

.price {
  font-size: 1vw;
  text-align: right;
  color: white;
  font-family: "Inter", sans-serif;
  display: block;
  margin-top: 0.3125rem;
}

.positive {
  font-size: 0.75vw;
  text-align: right;
  font-family: "Inter", sans-serif;
  color: #60C3B8;
}

.negative {
  font-size: 0.75vw;
  text-align: right;
  font-family: "Inter", sans-serif;
  color: #CC4E6C;
}
