<section>
  <app-toolbar/>
</section>

<div class="user-grid">
  <div class="price-overiew-position">
    <section>
       <!-- <app-user-price-entry-tab/> --->
       <app-user-reservation-tab/>
       <app-user-price-entry-tab/>
        </section>
  </div>

  <div class="favorite-item">
    <section>
      <app-favorite-item-home/>
    </section>
  </div>


  <div class="general-statistic-user">
    <section>
      <app-gerneral-statistics-user/>
    </section>
  </div>
</div>

<router-outlet/>
