<div
  class="fixed top-0 right-0 bg-box text-white flex flex-col justify-center items-center shadow-lg transition-all duration-300 rounded-lg"
  [ngClass]="{ 
    'w-16 h-1/2': !isExpanded, 
    'w-72 h-3/4': isExpanded 
  }"
  (click)="toggleTab()"
>
  @if(!isExpanded) {
    <div class="text-center font-bold text-lg transform rotate-90 origin-center cursor-pointer">
      Reservierungen
    </div>
  }

  @if(isExpanded) {
    <div class="w-full h-3/4 px-2 py-4 flex flex-col gap-2 cursor-pointer">
      <h3 class="text-md font-semibold text-center mb-4">Reservations</h3>

      <div class="flex flex-col gap-2 overflow-y-auto h-full">
        @for (item of orderItems; track item.productName) {
          <div class="reservation-item border-b border-gray-600 pb-2 mb-2 p-2 rounded-lg bg-gold">
            <p class="font-medium text-white text-xs">{{ item.productName }}</p>
            <p class="text-xs text-gray-300">Qty: {{ item.quantity }}</p>
            <p class="text-xs text-gray-300">Price: {{ item.pricePerItem }} €</p>
            <p class="text-xs text-gray-300">Total: {{ item.totalItemPrice }} €</p>
          </div>
        }
      </div>

      @if (orderItems.length === 0) {
        <p class="text-center text-gray-400 text-sm">Leer</p>
      }

      <div class="mt-4 text-center">
        <button 
          class="border border-gold text-white py-1 px-4 rounded-full text-sm hover:bg-green-600 focus:outline-none"
          (click)="createReservation()"
        >
          Reservierung anlegen
        </button>
      </div>

      <div class="mb-2 text-center text-sm text-gold">
        <p>Achtung: Sie haben 5 Minuten Zeit um an der Kasse zu zahlen. Die Reservierung verfällt nach 5 Minuten.</p>
      </div>
    </div>
  }
</div>
