<div
  class="fixed bg-box text-white flex flex-col justify-center items-center shadow-lg transition-all duration-300 rounded-lg reservationTab"
  [ngClass]="{ 'w-full h-10': !isExpanded, 'h-4/5': isExpanded }"
  style="z-index: 9999; position: fixed;" 
  (click)="toggleTab()"
>
  @if(!isExpanded) {
    <div class="text-center text-lg transform origin-center cursor-pointer">
      Reservations
    </div>
  }

  @if(isExpanded) {
    <div class="text-center text-xs mb-2">
      user_id: {{ this.users_uuid }}
    </div>
    <div class="w-full px-2 py-1 flex flex-col cursor-pointer">
      <h3 class="text-md font-semibold text-center mb-2">Reservations</h3>

      <div class="flex flex-col gap-2 overflow-y-auto h-full">
        @for (item of orderItems; track item.productName) {
          <div class="reservation-item border-b border-gray-600 pb-2 mb-2 p-2 rounded-lg ">
            <p class="font-medium text-white text-xs">{{ item.productName }}</p>
            <p class="text-xs text-gray-300">Qty: {{ item.quantity }}</p>
            <p class="text-xs text-gray-300">Price: {{ item.pricePerItem }} €</p>
            <p class="text-xs text-gray-300">Total: {{ item.totalItemPrice }} €</p>
          </div>
        }
      </div>

      @if (orderItems.length === 0) {
        <p class="text-center text-gray-400 text-sm">Empty</p>
      }

      <div class="mt-4 text-center">
        <button
          class="border text-white py-1 px-4 rounded-full text-sm hover:bg-green-600 focus:outline-none" (click)="createReservation()">
          Create Reservation
        </button>
      </div>

      <div class="mb-2 text-center text-gold text-sm py-4">
        <p>Caution: Your reservation will only only be active for 5 minutes.</p>
      </div>
    </div>
  }
</div>
