<div
  class="fixed top-0 right-0 bg-box text-white flex flex-col justify-center items-center shadow-lg transition-all duration-300 rounded-lg"
  [ngClass]="{ 
    'w-16 h-1/2': !isExpanded, 
    'w-72 h-3/4': isExpanded 
  }"
  (click)="toggleTab()"
>
  @if(!isExpanded) {
    <div
      class="text-center font-bold text-xl transform rotate-90 origin-center cursor-pointer">
      Reservations
    </div>
  }
  @if(isExpanded) {
    <div
      class="w-full px-4 py-6 flex flex-col gap-4 cursor-pointer">
      <h3 class="text-lg font-semibold">Reservations</h3>
      <p>Your reservation details go here...</p>
    </div>
}
 
