<div class= "main-grid">
  <!--Grid for Price Overview Element-->
  <div class="price-overiew-position">

    <section>
      <app-price-overview/>
    </section>

  </div>
  <!-- End of Grid-->

  <!--Grid for Event Trigger-->

  <div class="second-grid">
    <div class="zwischenSumme">
      <section>
        <app-reservation-list/>
      </section>
    </div>

    <div class="grid-2">
      <section>
        <app-qrbutton></app-qrbutton>
      </section>
    </div>

    <div class="grid-3">
      <section>
        <app-event-button/>
      </section>

      <section>
        <app-sub-total/>
      </section>
    </div>

    <div class="grid-4">
      <section>
        <app-logout-btn/>
      </section>
    </div>

  </div>
  <!-- End of Grid-->

</div>
