<div class= "main-grid">
  <!--Grid for Price Overview Element-->
  <div class="price-overiew-position">

    <section>
      <app-price-overview/>
    </section>

  </div>
  <!-- End of Grid-->

  <!--Grid for Event Trigger-->

  <div class="second-grid">
    <div class="zwischenSumme">
      <h1>General Statistic Space 1</h1>
    </div>
    <div class="grid-2">
      <h1>General Statistic Space 2</h1>
    </div>

    <div class="grid-3">
      <h1>General Statistic Space 3</h1>
    </div>

    <div class="grid-4">
      <h1>General Statistic Space 4</h1>
    </div>

  </div>
  <!-- End of Grid-->

</div>
