.favorite-item-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(5px, auto);
  gap: 1em; /* Optional: add spacing between items */
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 15%;
  /*border: 1px solid green;*/
}

.trending-item-1{
  grid-column: 1;
  grid-row: 1;
  height: 15rem;
  border: 1px solid #151D32;
  border-radius: 0.3125rem;
  padding: 0.9375rem;
  background-color: #151D32;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.trending-item-2{
  grid-column: 2;
  grid-row: 1;
  height: 15rem;

  border: 1px solid #151D32;
  border-radius: 0.3125rem;
  padding: 0.9375rem;
  background-color: #151D32;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.trending-item-3{
  grid-row: 2;
  height: 15rem;
  border: 1px solid #151D32;
  border-radius: 0.3125rem;
  padding: 0.9375rem;
  background-color: #151D32;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.trending-item-4{
  grid-row: 2;
  height: 15rem;
  border: 1px solid #151D32;
  border-radius: 0.3125rem;
  padding: 0.9375rem;
  background-color: #151D32;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.trending-item-5{
  grid-row: 3;
  height: 15rem;
  border: 1px solid #151D32;
  border-radius: 0.3125rem;
  padding: 0.9375rem;
  background-color: #151D32;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.trending-item-6{
  grid-row: 3;
  height: 15rem;
  border: 1px solid #151D32;
  border-radius: 0.3125rem;
  padding: 0.9375rem;
  background-color: #151D32;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.trending-item-7{
  grid-row: 4;
  height: 15rem;
  border: 1px solid #151D32;
  border-radius: 0.3125rem;
  padding: 0.9375rem;
  background-color: #151D32;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.trending-item-8{
  grid-row: 4;
  height: 15rem;
  border: 1px solid #151D32;
  border-radius: 0.3125rem;
  padding: 0.9375rem;
  background-color: #151D32;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}
