.add-drink{
  background: #151D32;
  border-radius: 0.3125rem;
  transition: width 2s;
  margin-top: 1.25rem;
  color: white;
  font-family: "Inter", sans-serif;;
}

.button{
  border-radius: 25%;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#drinkName{
  color: black;
}

#basePrice{
  color: black;
}

#quantity{
  color: black;
}

#description{
  color: black;
}
