<div id="add-dirnk_id" class="add-drink">

  <div class="border-2 absolute-right">
    <button class="text-3xl" (click)="hideWindow()">
        &times;
    </button>
  </div>

  <div class="text-white text-xl font-semibold mb-6">
    Add a Drink
  </div>


  <div class="w-full flex flex-col space-y-4">
    <input type="text" class="rounded text-blue-500 p-2" placeholder="Drink Name" />
    <input type="text" class="rounded text-blue-500 p-2" placeholder="Base Price" />
    <input type="text" class="rounded text-blue-500 p-2" placeholder="Quantity" />
    <input type="text" class="rounded text-blue-500 p-2" placeholder="Description" />
  </div>

  <div class="mt-6 flex justify-center w-full">
    <div class="flex w-96 bg-green-300 shad^^ow rounded-lg py-4 px-16">
      <p class="m-auto text-xl font-semibold leading-7 text-center text-gray-800">Add Drink</p>
      <div class="ml-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-800" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
        </svg>
      </div>
    </div>
  </div>

      <!-- Quelle für button: https://www.creative-tim.com/twcomponents/component/material-buttons -->

  </div>
