<div class="add-drink bg-box flex flex-col gap-3 p-8">

  <div>
    <button class="text-2xl" (click)="hideWindow()">
      &times;
    </button>
  </div>

  <p class="text-center text-3xl text-gray-300 mb-4">Add Drink</p>

  <label for="drinkName" class="text-lg font-medium">Geben Sie dem Getränk einen Namen</label>
  <input id="drinkName" class="bg-white w-full rounded-lg border border-gray-300 px-4 py-3 focus:outline-none focus:ring-2 focus:ring-offset-2" placeholder="Drink Name">

  <label for="basePrice" class="text-lg font-medium">Geben Sie dem Getränk einen Preis</label>
  <input id="basePrice" class="bg-white w-full rounded-lg border border-gray-300 px-4 py-3 focus:outline-none focus:ring-2 focus:ring-offset-2" placeholder="Preis">

  <label for="quantity" class="text-lg font-medium">Geben Sie dem Getränk eine Quantity</label>
  <input id="quantity" class="bg-white w-full rounded-lg border border-gray-300 px-4 py-3 focus:outline-none focus:ring-2 focus:ring-offset-2" placeholder="Quantity">

  <label for="description" class="text-lg font-medium">Geben Sie dem Getränk eine Beschreibung</label>
  <input id="description" class="bg-white w-full rounded-lg border border-gray-300 px-4 py-3 focus:outline-none focus:ring-2 focus:ring-offset-2" placeholder="Beschreibung">

  <button class="inline-block cursor-pointer rounded-md px-4 py-3.5 text-center text-lg font-semibold uppercase transition duration-200 ease-in-out focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 active:scale-95">Add Drink</button>

</div>
