<h2 class="text-white text-center text-xl font-bold mb-4">Aktive Parties:</h2>

    
    @for (party of parties; track party.id) { 
        <div class="w-full  bg-box rounded-lg p-2 mt-2">
        <div class="flex justify-start text-xs h-1/3">
        <span class="text-white  font-semibold">Party Name:<br> {{ party.name }}</span>
        
        <span class="text-white font-semibold ml-5">Bis: <br> {{ party.end_date }}</span>
        <span class="text-white font-semibold ml-5">Partyteilnehmer: <br> 0 </span>
      </div>
    </div>
    }
    


  