<div class="title-box">
    <span class="title">Lieblingsprodukte:</span>
  </div>
  
  @for (product of likedProducts; track product.name) {
    <div 
      class="drink-box mb-4 p-3 flex items-center justify-between border rounded cursor-pointer"
      (click)="onProductClick(product)"
    >
      <div class="flex items-center">
        @if (product.imageURL) {
          <div class="w-10 h-10 overflow-hidden mr-4">
            <img [src]="product.imageURL" alt="{{ product.name }}" class="w-full h-full object-cover rounded">
          </div>
        }
        <span class="drink-name font-semibold text-lg mr-4">{{ product.name }}</span>
      </div>
      
      <div class="flex items-center">
        <span class="price font-medium text-xl mr-4">
          {{ product.latestCalculatedPrice }} € 
          <span class="text-sm text-gray-600">({{ product.pQuantity }} verfügbar)</span>
        </span>
  
        
      </div>
    </div>
  }
  
  @if(selectedProduct) {
    <div class="fixed inset-0 flex justify-center items-center z-50">
      <div class="bg-box border border-gold p-6 rounded-lg w-96 max-w-full text-white">
        <h3 class="text-lg font-bold mb-4">
          Möchtest du {{ selectedProduct.name }} zum Preis von {{ selectedProduct.latestCalculatedPrice }} € zur Bestellung hinzufügen?
        </h3>
        <label for="quantity" class="block font-medium mb-2">Bestellmenge:</label>
        <input 
          id="quantity" 
          type="number" 
          [(ngModel)]="orderQuantity" 
          class="w-full border rounded px-2 py-1 text-box"
        >
        <div class="flex justify-end mt-4">
          <button 
            class="bg-red text-white px-4 py-2 rounded mr-2"
            (click)="closePopup()"
          >
            Abbrechen
          </button>
          <button 
            class="bg-green text-white px-4 py-2 rounded"
            (click)="addToOrder()"
          >
            Hinzufügen
          </button>
        </div>
      </div>
    </div>
  }
  