.price-overiew-position{
  grid-column: 1;
  grid-row: 1;
}

.event-button-position{
  grid-column: 2;
  grid-row: 1;
  border:1px solid green
}

.logout-btn{
  grid-column: 2;
  grid-row: 2;
  border: 1px solid green;
  color: white;
}

.create-party{
  grid-column: 1;
  grid-row: 1;
  border: 1px solid green;
  color: white;
}

.general-statistics{
  grid-column: 1;
  grid-row: 2;
  border: 1px solid green;
  color: white;
}
