<div class="grid relative isolate">
    <div 
      class="title-box text-white font-bold py-3 px-6 rounded-lg ease-in-out transform hover:scale-105 flex justify-center items-center cursor-pointer"
      (click)="showQRCodeImage()"
    >
      <span class="title text-lg">🎉 Party Beitritt QR-Code</span>
    </div>
  </div>
  
  @if(isQRImageShown) {
    <div 
      class="fixed top-20 left-1/2 transform -translate-x-1/2  rounded-lg p-6 border-2 border-white w-120 h-120 flex flex-col justify-center items-center z-[9999]"
    >
      <button 
        class="absolute top-2 right-2 text-gray-100 hover:text-red-500 text-lg font-bold"
        (click)="closeQRCodeImage()"
      >
        ✖
      </button>
      
      <p class="text-center text-white font-semibold mb-4">
        Um Party Beizutreten QR Code einscannen:
      </p>
    
      <img 
        [src]="'data:image/png;base64,' + QRCodeBase64" 
        alt="QR Code" 
        class="w-full h-full object-contain rounded-md"
      />
    </div>
  }
  