<div class="h-full w-full bg-box text-white flex flex-col items-start justify-start p-2">
    
    <div class="flex w-full mb-2">
        <div class="flex flex-col w-1/2 p-2">
            <p class="text-gold text-xl font-bold mb-0">Events</p>
            <h2 class="font-medium text-left mt-0.5">vergangene:</h2>
        </div>

        <div class="flex w-1/2 justify-end p-2">
            <h2 class="font-medium text-left mr-2">Aktiv: keins</h2>
        </div>
    </div>

    
    
    
    <div class="w-full bg-[#26365f] rounded-[5px] p-[8px] flex items-center mb-4"> 
            <p> Happy Hour - 20:00 - 20:31</p>
    </div>

   
</div>
