@if(isImageSelectorVisible){
<div 
  class="absolute inset-0 bg-box rounded-lg m-4 p-6 flex flex-col gap-4 overflow-y-auto shadow-xl z-50">

  <button 
    class="absolute top-4 right-8 text-white text-2xl font-bold cursor-pointer" 
    (click)="closeImageSelector()">
    &times;
  </button>

  <h2 class="text-base font-bold text-white mb-4">Bild für das Produkt auswählen:</h2>

  <!-- Image Grid -->
  <div class="flex flex-wrap gap-2">
    @for (imageUrl of imageUrls; track imageUrl) {
      <div 
        class="w-32 h-32 rounded-lg overflow-hidden shadow-lg cursor-pointer hover:scale-105 transition-transform"
        [ngClass]="{'border-4 border-black': selectedImage === imageUrl}"
        (click)="selectImage(imageUrl)">
        <img [src]="imageUrl" alt="Product Image" class="w-full h-full object-cover" />
      </div>
    }
  </div>

  @if (selectedImage) {
    <button 
      class="mt-4 px-6 py-2 bg-box text-white text-sm font-bold rounded-lg hover:bg-blue-700 transition-colors"
      (click)="confirmImageSelection()">
      Bild auswählen
    </button>
  }
</div>

}

