<section>
  <<app-toolbar/>>
</section>

<div class="favorite-h1-position">
  <section>
    <p>Favorites</p>
  </section>
</div>

<div class="trending-drinks">
  <div class="trending-h2-position">
    <section>
      <p>TRENDING</p>
    </section>
  </div>
  <div class="x-scroller">
    <section>
      <app-favorite-item/>
    </section>
  </div>
</div>

<div class="all-drinks">
  <div class="all-h2-position">
    <section>
      <p>ALL</p>
    </section>
  </div>
  <section>
    <app-favorite-item-all/>
  </section>
</div>
