.admin-grid {
  margin: 5em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(10px, auto);
  gap: 1em; /* Optional: add spacing between items */

  border: 1px solid blue;
}

.part1 {
  grid-column: 1;
  grid-row: 1;

  border: 1px solid red;
}

.part2 {
  grid-column: 2;
  grid-row: 1;

  border: 1px solid red;
}

.part3 {
  grid-column: 1;
  grid-row: 2;

  border: 1px solid red;

}

.part4 {
  grid-column: 2;
  grid-row: 2;

  border: 1px solid red;
}
