.entryDrink{
  display: flex;
  flex-direction: column;
  border: 1px solid #151D32; /* Border for the box */
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1); /* Optional shadow */
  max-width: 400vw;
  max-height: 50vw;
  width: 30%;
  border-radius: 10px; /* Rounded corners */
  padding: 0.9375rem; /* Inner padding */
  background-color: #151D32; /* Background color */
  gap: 10px;
}

.entry-box{
  padding: 0.9375rem;
}

input{
  border: 1px solid white;
  background-color: #151D32;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 1vw; /* Scales with 5% of the viewport width */
  font-weight: bold; /* Make the title bold */
  color: white;
  font-family: "Inter", sans-serif;
}
